@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.seta i{
    color: black;
    font-size: 30px;
    position: fixed;
    bottom: 110px;
    right: 20px;
}
.center{
    padding: 0 2%;
    width: 100vw;
    height: 70px;
    display: flex;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Diphylleia', serif;
}
.logo{
    cursor: pointer;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo source{
    cursor: pointer;
    width: 100%;
}
.src{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    display: none;
}
.pesquisar{
    width: 80%;
    height: 30px;
    border: 1px solid grey;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
}
.src button{
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.menu{
    width: 70%;
    height: 100%;
}
.lista-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.lista-menu li{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.lista-menu a{
    color: black;
}
.triangul{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(0, 0, 0);
    position: absolute;
    top: -20px;
  }
.lista1, .lista2, .lista3, .lista4{
    display: none;
}
.lista2.donw{
    width: 100vw;
    height: 30vh;
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    z-index: 1;
}
.lista2.donw li{
    margin-top: 10px;
    width: 19%;
    margin-left: 1%;
    height: 100%;
}
.lista2.donw li img{
    background-size: cover;
    width: 100%;
    height: 70%;
}
.lista2.donw li figcaption{
    font-size: 1rem;
    margin-left: 10px;
}
.lista2.donw a{
    color: black;
}
.lista3.donw{
    width: 100vw;
    height: 30vh;
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    z-index: 1;
}
.lista3.donw li{
    margin-top: 10px;
    width: 19%;
    margin-left: 1%;
    height: 100%;
}
.lista3.donw li img{
    width: 100%;
    height: 70%;
}
.lista3.donw li figcaption{
    width: 100%;
    height: 30%;
    font-size: 1rem;
    margin-left: 10px;
}
.lista3.donw a{
    color: black;
}
.nav-menu{
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav{
    display: none;
    width: 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bars{
    display: none;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
}
.container{
    width: 100vw;
    height: 100%;
    padding: 0px 15%;
    margin: 50px 0;
}
.conteudo{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.box figcaption{
    font-family: 'Diphylleia', serif;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.box{
    position: relative;
    overflow: hidden;
}
.box1{
    grid-area: 1 / 1 / 3 / 2;
}
.box1:hover{
    transform: scale(1.04);
    transition: 1s;
}
.box2{
    grid-area: 1 / 2 / 2 / 3;
} 
.box2:hover{
    transform: scale(1.04);
    transition: 1s;
}
.box3 {
    grid-area: 2 / 2 / 3 / 3;
}
.box3:hover{
    transform: scale(1.04);
    transition: 1s;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rodape{
    box-shadow: -1px -1px 5px grey;
    width: 100vw;
    height: 100px;
    padding: 0 2%;
    display: flex;
}
.social-icons{
    width: 50%;
    height: 100%;
}
.social-icons ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.social-icons ul li{
    width: 6%;
}
.social-icons i{
    color: black;
    font-size: 20px;
}
.social{
    width: 50%;
    height: 100%;
}
.social ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.social ul li{
    width: 15%;
}
.social a{
    color: black;
}
@media (min-width: 250px) and (max-width: 900px){
    .seta i{
        right: 10%;
    }
    .logo{
        width: 50%;
    }
    .logo img{
        width: 80%;
    }
    .pesquisar{
        display: none;
    }
    .src{
        justify-content: right;
        width: 35%;
    }
    .src button{
        width: 40px;
        display: block;
        border: none;
        background-color: white;
        font-size: 20px;
    }
    .nav-menu{
        width: 50%;
        display: flex;
        justify-content: right;
        padding-right: 20px;
    }
    .bars{
        display: block;
        margin-bottom: 5px;
    }
    .navegação.ativo .bars:nth-child(1){
        transform: translateY(7px) rotate(45deg);
        transition: 0.3s;
    }
    .navegação.ativo .bars:nth-child(2){
        opacity: 0;
    }
    .navegação.ativo .bars:nth-child(3){
        transform: translateY(-7px) rotate(-45deg);
        transition: 0.3s;
    }
    .lista-menu a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: black;
    }
    .navegação.ativo{
        width: 30px;
        height: 30px;
        z-index: 1;
        position: fixed;
    }
    .menu{
        position: fixed;
        right: -100%;
        top: 0px;
        width: 100%;
        height: 100vh;
        background-color: white;
        transition: 0.3s;
        z-index: 1;
    }
    .lista-menu{
        width: 99.9%;
        height: 90vh;
        flex-direction: column;
    }
    .lista-menu li{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 22vh;
        margin: 0;
    }
    .lista-menu li:hover{
        background-color: rgba(0, 0, 0, 0.144);
    }
    .menu.ativo{
        right: 0px;
    }
    .lista1.donw, .lista2.donw, .lista3.donw, .lista4.donw{
        display: none;
    }
    .container{
        padding: 0 2%;
        width: 100%;
        height: 100%;
        grid-gap: 10px;
    }
    .conteudo{
        margin-top: 10px;
    }
    .social-icons{
        width: 100%;
    }
    .social-icons ul{
        display: flex;
        justify-content: center;
    }
    .social-icons ul li{
        display: flex;
        justify-content: center;
        width: 25%;
    }
    .social{
        display: none;
    }
}